<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OS_ACTIVITY_MODE</key>
	<string>debug</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>accelerometer</string>
		<string>gyroscope</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>WKAlwaysRunsInBackground</key>
	<true/>
	<key>WKExtendedRuntimeSessionEnabled</key>
	<true/>
	<key>WKExtendedRuntimeSessionWatchOSVersion</key>
	<string>11.0</string>
	<key>WKPreferredExtendedRuntimeSessionDuration</key>
	<integer>3600</integer>
	<key>WKPreservesAppearanceOnLaunch</key>
	<true/>
	<key>WKSupportsAlwaysOnDisplay</key>
	<true/>
	<key>NSMotionUsageDescription</key>
	<string>我们需要访问运动和健身数据来识别手势</string>
</dict>
</plist>
