<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtensionPointIdentifier</key>
	<string>com.apple.watchkit</string>
	<key>OS_ACTIVITY_MODE</key>
	<string>debug</string>
	<key>WKAlwaysRunsInBackground</key>
	<true/>
	<key>WKExtendedRuntimeSessionEnabled</key>
	<true/>
	<key>WKExtendedRuntimeSessionWatchOSVersion</key>
	<string>11.0</string>
	<key>WKPreferredExtendedRuntimeSessionDuration</key>
	<integer>3600</integer>
	<key>WKPreservesAppearanceOnLaunch</key>
	<true/>
	<key>WKSupportsAlwaysOnDisplay</key>
	<true/>
</dict>
</plist>
