<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>此应用需要始终访问蓝牙以与您的iPhone进行通信和数据传输，即使在后台运行时也是如此。</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExtensionPointIdentifier</key>
	<string>com.apple.watchkit</string>
	<key>OS_ACTIVITY_MODE</key>
	<string>debug</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>WKAlwaysRunsInBackground</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>mindfulness</string>
		<string>workout-processing</string>
	</array>
	<key>WKExtendedRuntimeSessionEnabled</key>
	<true/>
	<key>WKExtendedRuntimeSessionWatchOSVersion</key>
	<string>11.0</string>
	<key>WKPreferredExtendedRuntimeSessionDuration</key>
	<integer>3600</integer>
	<key>WKPreservesAppearanceOnLaunch</key>
	<true/>
	<key>WKSupportsAlwaysOnDisplay</key>
	<true/>
</dict>
</plist>
